<!DOCTYPE html>
<html>
<head>
	<title>
		Meu Blog Django
	</title>
</head>
<body>

<h1>Meu blog lindinho</h1>

<h2>Que tal postar coisas legais aqui?</h2>

<h3>Partiu então!</h3>

<em>Vamos postar coisas <strong>interessantes</strong> nesse blog, como:</em>

<br>

<ui>
	
<li>Curiosidades da linguagem Python</li>
<li>Dicas sobre a linguagem Python</li>
<li>Comandos em Python</li>
<li> Clique 
<a href="http://djangogirls.org">aqui</a> para mais detalhes. </li>

</ui>

{% for post in posts %}
<div>
<p>published: {{ post.published_date }}</p>
<h1><a href="">{{ post.title }}</a></h1>
<p>{{ post.text|linebreaksbr }}</p>
</div>
{% endfor %}

</body>
</html>